html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block; /* No floating content on sides */
}

#floatingMessage {
    position: absolute; 
    /* text-align: center; */
    background-color: rgb(30, 124, 124);
    border-radius: 25px;
}


.contentHelp {
    display: flex;
    align-items: center;
    width: 400px;
    padding: 0.5em;
  }

  .contentHelpColumn{
    width: 170px;
  }

  .contentHelpTitle {
    align-items: center;
  }

  .imgHelpBrick {
    width: 30px;
    height: 20px;
  }

  .imgHelpAsset {
    width: 30px;
    height: 30px;
  }
  

#divCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: lightblue;
    -webkit-tap-highlight-color: transparent;
}


.hGradBorder {
    background: linear-gradient(to bottom,
    rgb(85, 85, 85) 0%,
    rgb(255, 255, 255) 50%,
    rgb(85, 85, 85) 100%
    );
}


.vGradBorder {
    background: linear-gradient(to right,
    rgb(85, 85, 85) 0%,
    rgb(255, 255, 255) 50%,
    rgb(85, 85, 85) 100%
    );
}

.radialBorder {
    height: 20px;
    width: 20px;
    border-radius: 200px;
    background: radial-gradient(rgb(255, 255, 255), rgb(85, 85, 85));
}


.areaRow {
    height: 20px;
}


.centered {
      width: 900px;
      height: 600px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

  
.left {

      /* background: green; */
      width: 700px;
      height: 90%;
      float: left;
}


.right {
      /* background: yellow; */
      border-radius: 10px 10px 10px 10px;
      border:2px #ccc solid;
      box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
      float: right;
      width: 190px;
      height: 90%;
  }
  

.topTitle,
.bottomTitle,
.floatingMessageTitle,
.borderedText {
      font-family: "Bookman Old Style", serif;
      text-shadow: -1px -1px  0 #000000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 0 #00000071;
      font-weight: bold;
      color: white;
}


.topTitle,
.bottomTitle
 {
      margin: 0 auto;
      width: 200px;
      height: 10%;
      align-items: center;
      justify-content: center; 
}

.floatingMessageTitle{
    font-size: 30px;
    color: rgb(235, 235, 235);
    text-align: center; 
    
}



div.topTitle p,
div.bottomTitle p{
      margin: 0;
      font-weight: bold
}

div.topTitle p{
    font-size: 40px;
    color: rgb(255, 137, 68);
}

div.floatingMessageTitle p{
    font-size: 30px;
    color: rgb(68, 118, 255);
}

div.bottomTitle p{
    font-size: 30px;
    color: rgb(190, 155, 255);
}





.flex-container {
    display: flex;
    /* border:1px #ccc solid; */
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.button {
    border:1px darkgray solid;
    color: white;
    padding:  15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    width: 100px;
    font-family: "Arial", serif;
    font-weight: bold;
  }

  .button:hover {
    background-color: #e7e7e7;
    color: black;
  }



.center{
    align-items: center;
}


.flex-item {
    text-align:center;
    font-size: 1em;
    padding: 1.2em;
    color: white;
    width: 80px;
     
}
.largest-item{ 
    padding-top:2em;
}
.color1 {background-color: #675BA7;}
.color2 {background-color: #9BC850;}
.color3 {background-color: #A62E5C;}
.color4 {background-color: #2A9FBC;}
.color5 {background-color: #f29e05;}
.color6 {background-color: #6aa63b;}
.colorWhite {background-color: white;}
